body{
    color: rgb(0, 0, 0);
    background-color: rgb(206, 170, 103);
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 5px solid rgb(172, 133, 36)
}

.center{
    text-align: center;
}

h1{
    color:rgb(0, 0, 0);
}

footer img{
    width: 40px;
    height: 30px;
    border-radius: 30%;
    border: 5px solid rgb(0, 0, 0)
}